body, html {
    background-color: #effcfa;
    height: 100%;
    overflow-x: hidden;
}

nav {
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    /* background-color: rgba(255, 255, 255, 0); */
    background-color: #effcfa;
    width: 100%;
    z-index: 1;
}

.row {
    margin: 0;
}

.navbar {
    position: fixed;
}

.nav-item {
    padding: 0 1rem 0 1rem;
}

.nav-link {
    color: #2e2e2e !important;
    font-weight: 500;
}

.container-fluid {
    padding: 0;
}

.splash-container {
    background-color: #a2f7ea;
    background-image: url('/resources/flowers.png');
    overflow-x: hidden;
    margin-bottom: 3rem;
    height: 100%;
    width: 100%;
}

.test-circle img {
    border-radius: 47%;
    border: 1.5rem #effcfa solid;
    width: 110%;
}

.text-container {
    background-color: #effcfa;
    padding: 2rem;
    /* width: 80%; */
}

.splash-text{
    margin-left: 3rem;
    text-align: center;
}

.gtTitle {
    font-family: 'Merriweather', serif;
    font-size: 4rem;
    font-weight: 500;
}

.splash-text h3 {
    font-family: 'Merriweather', serif;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.splash-text img {
    width: 20%;
}

.desc {
    margin: 1.5rem 0rem;
    padding: 0 2rem;
    text-align: center;
}

.image {
    margin: 3rem 0;
    padding: 0;
    background-color: #a2f7ea;
}

.pngIcon {
    width: 20%;
}

.pngIcon-splitter {
    width: 20%;
    padding: 4rem 0;
}

.services-container h4{
    font-family: 'Merriweather', serif;
    color: #53ecd5;
    font-weight: 700;
    font-size: 2rem;
    margin: 1rem;
}

.services-container p {
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.services-hr {
    background-color: #53ecd5;
    border: none;
    height: 2px;
    width: 20%;
}

.about-container {
    margin: 3rem 0rem;
}

.about-container p {
    font-size: 1.2rem;
    margin: 0 6rem 1rem 6rem;
    font-family: 'Raleway', sans-serif;
}

.other-services h6 {
    text-decoration: underline;
    font-weight: 700;
    font-size: 1.1rem;
}

.img-fix {
    width: 100%;
    border-radius: 10%;
    box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.418);
}

.contact-container {
    margin: 3rem 0;
}

.contact-container form {
    width: 80%;
    margin: 0 auto;
}

.van-eye {
    margin-left: 3rem;
}

.form-control {
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.418);
}

.form-group {
    font-family: 'Raleway', sans-serif;
}

.footer-container {
    margin-top: 2rem;
    padding: 2rem 0 1rem 0;
    text-align: center;
    background-color: #a2f7ea;
}

.footer-container p{
    font-size: 1.1rem;
    color: #2e2e2e;
}

.footer-container i {
    font-size: 1.5rem;
    text-decoration: none;
    color: #2e2e2e;
    padding: 0 0.5rem;
}

.bren-contact {
    padding-top: 0.7rem;
    font-size: 0.9rem !important;
    font-weight: 700 !important;
}

.pfp {
    width: 20%;
    margin-bottom: 1rem;
    border-radius: 50%;
    border: #a2f7ea 0.4rem solid;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.418);
}

.gallery-container {
    margin: 3rem 0 3rem 0;
}

.gallery-container h3 {
    text-align: center;
    /* padding: 4rem 0; */
}

.gallery-container .services-hr{
    width: 10%;
}

.carousel-item {
    margin: 0 auto;
}

.carousel-item img {
    width: 75%;
    /* max-height: 60% !important; */
    margin: 1rem auto;
    border: #a2f7ea 0.4rem solid;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.418);
} 

.carousel-control-prev-icon,
.carousel-control-next-icon {
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
  /* position: absolute; */
  top: 50%;
  margin-top: -10px; /* fix */
  display: inline-block;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 2.5rem;
  color: rgb(36, 36, 36);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 2.5rem;
  color: rgb(36, 36, 36);
}

.mobile {
    display: none;
}

.alert {
    margin-top: 4.5rem;
}

@media (max-width: 992px) {
    nav {
        background-color: transparent;
        margin-top: 1rem;
    }

    .container-fluid {
        width: 100%;
    }

    .navbar-nav {
        background-color: #effcfa;
        width: 35%;
        float: left;
        border: 2px solid gray;
    }

    .pngIcon-splitter {
        width: 50%;
    }

    .splash-content {
        display: none;
        position: relative;
        bottom: 0;
        left: -5%;
    }

    .about-container p {
        font-size: 1.2rem;
        margin: 0 1rem 1rem 1rem;
    }

    .pfp {
        width: 60%;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
    display: none;
    }

    .carousel-item img {
        width: 97%;
    }

    .van-eye {
        display: none
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: inline;
    }

    .splash-content img {
        text-align: center;
    }

    .splash-text{
        margin-left: 0;
        text-align: center;
    }

    .services-hr {
        width: 40%;
    }

    .gallery-container .services-hr{
        width: 40%;
    }

    .contact-container form {
        width: 90%;
    }
}
